<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, size: "150" %>
  </div>
  <div class="field">
    <%= f.label "XXXX" %><br />
    <%= f.text_field :problem %>
  </div>
  <div class="field">
    <%= f.label :solution %><br />
    <!-- <%= text_area_tag(:solution, "Hi, nice site", size: "44x6") %> -->
    <!-- <%= text_area_tag(size: "44x6") %> -->
    <%= f.text_field :solution %>
  </div>
  <div class="actions">
    <%= f.submit "Dodaj wpis" %>
  </div>
<% end %>
