<p id="notice"><%= notice %></p>

<p>
  <b>Tytuł:</b>
  <%= @post.title %>
</p>

<p>
  <b>Problem:</b>
  <%= @post.problem %>
</p>

<p>
  <b>Rozwiązanie:</b>
  <%= @post.solution %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
